<div class="container">
  <h2>Profile</h2>
  <%= simple_form_for @profile, url: profile_path do |f| %>
    <%= render 'shared/form_errors', resource: @profile %>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :username %>
      </div>
      <div class="col-md-6">
        <%= f.simple_fields_for :user, @profile.user do |uf| %>
          <%= uf.input :email %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :time_zone, as: :time_zone, include_blank: false %>
      </div>
      <div class="col-md-6">
        <%= f.input :working_shift_start_time %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
