<%= simple_form_for :session, url: session_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit %>&nbsp;<%= link_to t(".forgot_password"), new_password_path %>
<% end %>

<% if Clearance.configuration.allow_sign_up? %>
  <p>
    <%= link_to t(".sign_up"), sign_up_path %>
  </p>
<% end %>
