textarea {
  resize: vertical;
}

.board {
  .panel-body {
    padding: 5px 0;
    background: #eee;
  }
}

.task {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0 0 5px 0;
  padding: 5px;
  background: #f8f8f8;

  .task-buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    visibility: hidden;

    button {
      border: 0;
      background-color: transparent;
    }

    .task-remove:hover { color: #d9534f; }
    .task-edit:hover { color: #419641; }
  }

  .task-body {
    .task-author {
      margin-bottom: 3px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .btn-toolbar {
    position: absolute;
    right: 60px;
    top: 5px;
    visibility: hidden;

    button {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:hover {
    background: #fff;

    .task-buttons, .btn-toolbar {
      visibility: visible;
    }
  }
}

.task-comments-wrapper {
  padding: 7px;
  margin-top: 7px;

  .task-comments-toggle-btn {
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  .task-comments {
    margin-bottom: 7px;

    .task-comment {
      margin-bottom: 3px;
      position: relative;

      .task-comment-buttons {
        position: absolute;
        right: 5px;
        top: 5px;
        visibility: hidden;

        button {
          border: 0;
          background-color: transparent;
          font-size: 11px;
        }

        .task-comment-remove:hover { color: #d9534f; }
        .task-comment-edit:hover { color: #419641; }
      }

      .task-comment-message {
        color: #777;
        margin-bottom: 12px;
      }

      .task-comment-author {
        margin-bottom: 3px;
        font-size: 12px;
        font-weight: bold;
        color: #777;
      }

      &:hover .task-comment-buttons {
        visibility: visible;
      }
    }
  }

  .task-new-comment {
    .btn-group { margin-bottom: 7px; }
  }
}
