<% if resource.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h3>Attention! This form has <strong><%= t :form_errors, count: resource.errors.count %></strong>.</h3>

    <ul>
      <% resource.errors.messages.each_pair do |attr_name, messages| %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
