<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= simple_form_for :password_reset, method: :put,
    url: user_password_path(@user, token: @user.confirmation_token) do |f| %>

    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>
