<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= simple_form_for :password, url: passwords_path do |f| %>
    <%= f.input :email %>
    <%= f.button :submit %>
  <% end %>
</div>
