/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main.main-container {
  padding-top: 60px;
}

.flash {
  top: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}

.flash-inner {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ec971f;
}

#clearance
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: #e9f4fa;
  border-radius: 3px;
  padding: 20px;
}
