<div class="container-fluid">
  <h2 style="overflow: hidden">Reports <%= button_to 'Create report', reports_path, method: :post, class: 'btn btn-success btn-sm pull-right' %></h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Report</th>
        <th>State</th>
        <th>Author</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= link_to "Show", report %></td>
          <td><%= report_state(report) %></td>
          <td><%= report.user %></td>
          <td><span class="badge"><%= l(report.created_at, format: :full_with_year) %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


