<% unless flash.empty? %>
  <div class="flash">
    <div class="flash-inner">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>
<% end %>
